{% load staticfiles %}
<html>
  <head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
  </head>

  <body>
  <div align="center">
  <h1 textalign="center">chobie</h1>
      {{ user }}
      {% if user.is_anonymous %}
      <a href="{% url 'login' %}">login</a>
      {% else %}
      <a href="{% url 'logout' %}">logout</a>
      {% endif %}
    </div>

  <div align="center">
    {% block content %}
    {% endblock %}
  </div>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>